.row {
    margin-top: 10px !important;
    background-color: rgba(66, 66, 66, 0.6);
    color: white;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

body {
    background-image: url("background.png");
}
