/* Fixed table headers: https://stackoverflow.com/questions/21168521/table-fixed-header-and-scrollable-body */

.table-fix-head          { overflow-y: auto; height: 100px; }
.table-fix-head thead th { position: sticky; top: 0; }

table  { border-collapse: collapse; width: 100%; }
th, td { padding: 8px 16px; }
th     { background:#eee; }

a:link,
a:visited,
a:hover,
a:active {
	color: #000;
	text-decoration: none;
}
th a,
td a {
	display: block;
	width: 100%;
}
th a.sort-header {
	padding-right: 18px;
	position: relative;
}
a.sort-header:before,
a.sort-header:after {
	border: 4px solid transparent;
	content: "";
	display: block;
	height: 0;
	right: 5px;
	top: 50%;
	position: absolute;
	width: 0;
}
a.sort-header:before {
	border-bottom-color: #666;
	margin-top: -9px;
}
a.sort-header:after {
	border-top-color: #666;
	margin-top: 1px;
}
